@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --black-clr: #002828;
  --teal-clr: #008080;
  --lightblue-clr: #00AEAE;
  --yellow-dark-clr: #F5C842;
  --yellow-primary-clr: #FFDE5C;
  --yellow-light-clr: #FEFFA7;
  --white-clr: #FFFFE4;
  --shadow-clr: #867e7e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* NAVIGATION DESIGN */
nav {
  position: fixed;
  background-color: var(--yellow-primary-clr);
  width: 100%;
  z-index: 100;
  box-shadow: 1px 0px 6px var(--shadow-clr);
}

.navigation-wrapper {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.left-section {
  flex: 1;
}
  .left-section h1 {
    font-size: clamp(1rem, 2vw, 2rem);
  }

.middle-section {
  display: flex;
  flex: 4;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  cursor: pointer;
}
  .middle-section div {
    position: relative;
    height: 100%;
    cursor: pointer;
    width: clamp(5rem, 6vw, 6rem);
    font-size: clamp(0.9rem, 1vw, 1rem);
    text-align: center;
  }
  .middle-section div::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -16px;
    width: 0%;
    height: 3px;
    background: var(--black-clr);
    transition: all 0.3s ease-in-out;
  }
    .middle-section div:hover::after {
      width: 100%;
    }
  .middle-section div a { color: black; text-decoration: none; }

.right-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  gap: 15px;
}
  .right-section img {
    width: 15%;
    cursor: pointer;
    padding: 6px;
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
  }
    .right-section img:hover {
      background-color: var(--yellow-light-clr);
    }
  .right-section button {
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: var(--white-clr);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
    .right-section button:hover {
      color: var(--white-clr);
      background-color: var(--teal-clr);
      transform: translateY(-5px);
      box-shadow: 1px 2px 6px var(--shadow-clr);
    }

/* FOOTER DESIGN */
footer {
  min-height: 20vh;
  background-color: var(--black-clr);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 200px;
  text-align: center;
}

footer p {
  flex: 1;
  color: var(--white-clr);
}

footer div {
  flex: 1;
  display: flex;
  gap: 40px;
  justify-content: center;
}

footer div a {
  color: var(--white-clr);
  text-align: center;
  transition: all 0.3s ease-in-out;
}
  footer div a:hover {
    color: var(--lightblue-clr);
  }
